---
import Layout from '../layouts/Layout.astro'
import Preview from '../sections/Preview.astro'
import ControlsThumb from '../sections/ControlsThumb.astro'
import ControlsTrack from '../sections/ControlsTrack.astro'
import Code from '../components/Code.astro'
import Bg from '../components/Bg.astro'
---

<Layout title="Customize Input Range">
  <Bg />
  <main>
    <h1
      class="text-4xl my-14 font-semibold flex items-center gap-5 flex-col font-fira-code"
    >
      <span class="text-center font-[900]">Customize</span>
      <Code />
    </h1>

    <div
      class="w-[90%] max-w-[900px] mx-auto flex flex-col md:grid md:grid-cols-[200px_1fr_1fr_200px] overflow-hidden font-inter gap-2"
    >
      <Preview />
      <span class="tab md:col-start-1 md:col-end-2 md:row-start-1">Thumb</span>
      <ControlsThumb />
      <span class="tab md:col-start-4 md:col-end-5 md:row-start-1">Track</span>
      <ControlsTrack />
    </div>
  </main>
</Layout>

<style>
  @tailwind utilities;
  .tab {
    @apply py-5 bg-dark-navy grid place-items-center font-bold text-gray-400 rounded-tl-lg rounded-tr-lg relative text-xl;

    &::before {
      content: '';
      width: 100%;
      height: 40px;
      position: absolute;
      bottom: -20px;
      @apply bg-dark-navy;
      /* background-color: red; */
      z-index: -1;
    }

    &:nth-child(2)::after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      background-color: transparent;
      right: -20px;
      bottom: -8px;
      border-radius: 50%;
      z-index: -1;
      box-shadow: -10px 10px theme(colors.dark-navy);
    }

    &:nth-child(4)::after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      background-color: transparent;
      left: -20px;
      bottom: -8px;
      z-index: -1;
      border-radius: 50%;
      box-shadow: 10px 10px theme(colors.dark-navy);
    }
  }
</style>
