<div class="absolute inset-0 overflow-hidden -z-20">
  <div class="bg-blue-500 w-[300px] h-[300px] absolute top-[20%] left-[-10%] rounded-full"></div>
  <div class="bg-blue-900 w-[500px] h-[500px] absolute rounded-full right-[-10%] top-[40%]"></div>
  <div class="absolute inset-0 bg-dark-blue/15 backdrop-blur-[100px]"></div>
</div>