<pre class="font-fira-code flex">
  <span class="text-cyan-500">&lt;</span>
  <span class="text-pink-600">input</span>
  <span class="text-orange-400"> type</span>
  <span class="text-cyan-500">=</span> 
  <span class="text-lime-300">"range"</span>
  <span class="text-cyan-500">&gt;</span>
</pre>