<section
  class="md:col-start-2 md:col-end-4 p-5 rounded-lg border border-slate-600 flex justify-center min-h-[75px] overflow-hidden bg-black/30 backdrop-blur-3xl"
>
  <input type="range" class="w-full max-w-[300px]" />
</section>
